@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Online Shopping Cart ASP.Net Core application</h1>
    <img src="/images/online-shopping_IndexPage.jpg" style= "width:80%"/>
</div>
